/*GLOBAL RESET*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

section {
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

html {
  /* scroll-snap-type: y mandatory; */
}

body {
  background-color: black;
  scroll-behavior: smooth;
  color: white;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

:root {
  --bar-width: 30px;
  --bar-height: 2px;
  --hamburger-gap: 6px;
  --foreground: #ffffff;
  --background: white;
  --hamburger-margin: 8px;
  --animation-timing: 400ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
  --header-title-font-size: 22px;
  --header-title-font-weight: 100;
}
/***********************
*        NAVBAR        *
***********************/
header{
  /* border: 1px solid red; */
  position: fixed;
  top: 0;
  width: 100vw;
}

.section-title{
  font-size: var(--header-title-font-size);
  font-weight: var(--header-title-font-weight);
  text-align: center;
}



.hamburger-menu {
  --x-width: calc(var(--hamburger-height) * 1.41421356237);

  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  width: max-content;
  position: absolute;
  top: var(--hamburger-margin);
  right: var(--hamburger-margin);
  z-index: 2;
  cursor: pointer;

}

.hamburger-menu:has(input:checked) {
  --foreground: white;
  --background: #333;
}

.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible {
  border: 1px solid var(--background);
  box-shadow: 0 0 0 1px var(--foreground);
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--foreground);
  border-radius: 9999px;
  transform-origin: left center;
  transition: opacity var(--animation-timing), width var(--animation-timing),
    rotate var(--animation-timing), translate var(--animation-timing),
    background-color var(--animation-timing);
}

.hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}

.sidebar {
  transition: translate var(--animation-timing);
  translate: 100%;
  padding: 0.5rem 1rem;
  width: 40vw;
  padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
  color: var(--background);
  min-height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.hamburger-menu:has(input:checked)+.sidebar {
  translate: 0;
}

.sidebar div{
 font-size: var(--header-title-font-size);
 font-weight: var(--header-title-font-weight);
 border-bottom: 1px solid rgba(255, 255, 255, 0.229);
 padding-bottom: 5px;
 margin-bottom: 5px;
}


/***********************
*     HERO SECTION     *
***********************/
#hero-section {
  background-color: black;
  background-image: url('../public/hero-background-img.jpg');
  background-repeat: no-repeat;

  /* The important part */
  background-position: right center;
  background-size: auto 100%;
  /* full height, width scales */

  color: white;
}