/***********************
*      GLOBAL RESET     *
* Reset box model,      *
* padding, and margin   *
* for all elements      *
***********************/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/***********************
*       VARIABLES       *
* CSS custom properties *
* for layout, colors,   *
* and animations        *
***********************/
:root {
  --menu-bar-width: 25px;
  --menu-bar-height: 1px;
  --hamburger-gap: 6px;
  --menu-foreground: #ffffff;
  --menu-background: white;
  --hamburger-margin: 8px;
  --menu-animation-timing: 600ms ease-in-out;
  --hamburger-height: calc(var(--menu-bar-height) * 3 + var(--hamburger-gap) * 2);
  --font-size-mobile: 14px;
  --font-weight: 100;
  --blue: rgb(0, 135, 177);
  --text-color: rgb(255, 255, 255);
  --logo-font-size: calc(var(--font-size-mobile) + 4px);
}

@media (min-width: 400px) {
  :root {
    --font-size-mobile: 17px;
  }
}

@media (min-width: 500px) {
  :root {
    --font-size-mobile: 19px;
  }
}

@media (min-width: 600px) {
  :root {
    --font-size-mobile: 22px;
  }
}


/***********************
*      GLOBAL SETTINGS  *
* Section layout &      *
* scroll snapping       *
***********************/
section {
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  width: 100vw;
}

.section-title {
  font-size: calc(var(--font-size-mobile) + 4px);
  font-weight: var(--font-weight);
  text-align: center;
  color: var(--text-color);
  /* margin-top: calc(var(--logo-font-size) + 50px); */
  font-size: 60px;
  font-weight: 100;
  color: #ffffff20;
  /* border: 1px solid red; */
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

body {
  background-color: black;
  color: var(text-color);

}

ul {
  list-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
}

button {
  padding: 10px 30px;
  border-radius: 100px;
  font-size: var(--font-size-mobile);
  font-weight: calc(var(--font-weight) + 100);
  border: none;
}





/***********************
*   SECTION ANIMATIONS  *
* Fade-in effect for    *
* sections on scroll    *
***********************/
section {
  opacity: 0;
  transition: opacity 0.9s ease-out;
}

section.visible {
  opacity: 1;
}











/***********************
*        NAVBAR        *
***********************/
header {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10;
  padding: 15px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: var(--logo-font-size);
  font-weight: var(--font-weight);
  text-align: center;
  color: var(--text-color);
  margin: auto;
}

.logo span {
  background-color: var(--blue);
  color: black;
  border-radius: 10px;
  padding: 0 10px;
  font-weight: 700;
}

.hamburger-menu {
  --x-width: calc(var(--hamburger-height) * 1.4);
  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  position: relative;
  z-index: 2;
  cursor: pointer;
}

.hamburger-menu:has(input:checked) {
  --menu-foreground: white;
  --menu-background: #333;
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: var(--menu-bar-width);
  height: var(--menu-bar-height);
  background-color: var(--menu-foreground);
  border-radius: 9999px;
  transform-origin: left center;
  transition: opacity var(--menu-animation-timing), width var(--menu-animation-timing),
    rotate var(--menu-animation-timing), translate var(--menu-animation-timing),
    background-color var(--menu-animation-timing);
}

.hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--menu-bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--menu-bar-height) / 2);
}

.hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}

.sidebar {
  transition: translate var(--menu-animation-timing);
  translate: 100%;
  padding: 0.5rem 1rem;
  width: 100vw;
  padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
  color: var(--menu-background);
  min-height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.sidebar nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hamburger-menu:has(input:checked)+.sidebar {
  translate: 0;
}

.sidebar div {
  font-size: var(--font-size-mobile);
  font-weight: var(--font-weight);
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.sidebar div:hover {
  cursor: pointer;
}

.sidebar div a {
  color: var(--text-color);
}

@media (min-width: 1000px) {
  .sidebar {
    width: 20vw;
  }

  .hamburger-menu {
    top: 20px;
  }
}



/***********************
*     HERO SECTION     *
***********************/
#hero-section {
  background-color: black;
  background-image: url('../public/hero-background-img.jpg');
  background-repeat: no-repeat;
  background-position: center 30%;
  background-size: auto 30%;
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.hero-section-text {
  font-weight: var(--font-weight);
  font-size: var(--font-size-mobile);
  width: 90vw;
  text-align: center;
  margin-bottom: 250px;
}

.scroll-container {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  position: absolute;
  bottom: 0;
}

.circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid var(--blue);
  background-color: var(--blue);
}

.line {
  width: 1px;
  height: 60%;
  background-color: var(--blue);
  opacity: 0.4;
}

.scroll-text {
  font-weight: var(--font-weight);
  font-size: var(--font-size-mobile);
}

@media (min-width: 1000px) {
  #hero-section {
    background-size: auto 80%;
    background-position: right center;
    justify-content: flex-start;
    align-items: center;
  }

  .hero-section-text {
    margin-bottom: 0;
    width: 50vw;
  }

}

/***********************
*       ABOUT US       *
***********************/
#about-section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.stats {
  height: 80vh;
  max-width: 40vw;
  padding: 0 10px;
  background-color: var(--blue);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;

}

.stats div h2 {
  font-size: 36px;
  color: black;
}

.stats div p {
  font-size: var(--font-size-mobile);
  font-weight: calc(var(--font-weight) + 100);
}

.about-text {
  width: 45vw;
  height: 80vh;
  color: white;
  text-align: left;
  font-weight: var(--font-weight);
  font-size: var(--font-size-mobile);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/***********************
*       SERVICES       *
***********************/
#services-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: calc(var(--logo-font-size) + 50px);
}

#services-section p {
  color: white;
  text-align: center;
  font-weight: var(--font-weight);
  /* border: 1px solid red; */
  width: 80vw;
  font-size: var(--font-size-mobile);
}

.services-container {
  width: 95vw;
  height: 40vh;
  /* border: 1px solid red; */
  display: flex;
  overflow-x: auto;
  /* enable horizontal scrolling */
  scroll-snap-type: x mandatory;
}

.service-card {
  scroll-snap-align: start;
  height: 100%;
  flex: 0 0 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  border: 1px solid rgba(255, 255, 255, 0.264);
  border-radius: 20px;
  overflow: hidden;

}


.div1 {
  grid-column: span 2 / span 2;
  /* background-color: #333; */
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: var(--blue);
}

.div2 {
  grid-row: span 3 / span 3;
  grid-column-start: 2;
  grid-row-start: 2;
  display: flex;
  align-items: center;
  justify-content: center; 
}

.div3 {
  grid-row: span 3 / span 3;
  grid-column-start: 1;
  grid-row-start: 2;
  color: white;
  /* border-radius: 20px; */
  display: flex;
  align-items: center;
  font-size: var(--font-size-mobile);
  padding-left: 10px;
  border-right: 1px solid rgba(255, 255, 255, 0.264);
}
.div3 ul li{
  font-weight: var(--font-weight);
}

.div2 img {
  width: 100%;
}