/*GLOBAL RESET*/
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

section{
  height: 100vh;
  scroll-snap-align: start;
   scroll-snap-stop: always;
}

html{
  scroll-snap-type: y mandatory;
}

body{
  background-color: black;
  scroll-behavior: smooth;
  color: white;
  font-family: "Poppins", sans-serif;
}

ul{
  list-style: none;
}
/***********************
*        NAVBAR        *
***********************/
nav{
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  padding-right: 20px;
  padding-top: 10px;
}

nav ul{
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav-item{
  
  /* border: 1px solid red; */
}

.logo{
  /* border: 1px solid red; */
}

.logo img{
  width: 100px;
}


/***********************
*     HERO SECTION     *
***********************/
#hero-section{
  background-image: linear-gradient(180deg,rgba(0, 0, 0, 1) 8%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) 92%),
  url('../public/hero-section-bg.webp');
  background-size: cover;       /* makes the image cover the entire section */
  background-position: center;  /* centers the image */
  background-repeat: no-repeat; /* prevents tiling */
  color: white;
}