/***********************
*      GLOBAL RESET     *
* Reset box model,      *
* padding, and margin   *
* for all elements      *
***********************/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}




/***********************
*      GLOBAL SETTINGS  *
* Section layout &      *
* scroll snapping       *
***********************/
section {
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

body {
  background-color: black;
  color: var(text-color);
  font-family: "Poppins", sans-serif;
}

ul {
  list-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

a{
  text-decoration: none;
}





/***********************
*   SECTION ANIMATIONS  *
* Fade-in effect for    *
* sections on scroll    *
***********************/
section {
  opacity: 0;
  transition: opacity 0.9s ease-out;
}

section.visible {
  opacity: 1;
}





/***********************
*       VARIABLES       *
* CSS custom properties *
* for layout, colors,   *
* and animations        *
***********************/
:root {
  --bar-width: 25px;
  --bar-height: 1px;
  --hamburger-gap: 6px;
  --foreground: #ffffff;
  --background: white;
  --hamburger-margin: 8px;
  --animation-timing: 600ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
  --font-size: 21px;
  --font-weight: 100;
  --blue: rgb(0, 135, 177);
  --text-color: rgb(255, 255, 255);
}





/***********************
*        NAVBAR        *
***********************/
header {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10;
  padding-top: 15px;
}

.section-title {
  font-size: calc(var(--font-size) + 4px);
  font-weight: var(--font-weight);
  text-align: center;
  color: var(--text-color);
}

.section-title span {
  background-color: var(--blue);
  color: black;
  border-radius: 10px;
  padding: 0 10px;
  font-weight: 700;
}

.hamburger-menu {
  --x-width: calc(var(--hamburger-height) * 1.4);
  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  position: absolute;
  top: 20px;
  right: var(--hamburger-margin);
  z-index: 2;
  cursor: pointer;
}

.hamburger-menu:has(input:checked) {
  --foreground: white;
  --background: #333;
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--foreground);
  border-radius: 9999px;
  transform-origin: left center;
  transition: opacity var(--animation-timing), width var(--animation-timing),
  rotate var(--animation-timing), translate var(--animation-timing),
  background-color var(--animation-timing);
}

.hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}

.sidebar {
  transition: translate var(--animation-timing);
  translate: 100%;
  padding: 0.5rem 1rem;
  width: 20vw;
  padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
  color: var(--background);
  min-height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.sidebar nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hamburger-menu:has(input:checked)+.sidebar {
  translate: 0;
}

.sidebar div {
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.sidebar div:hover {
  cursor: pointer;
}

.sidebar div a{
  color: var(--text-color);
}




/***********************
*     HERO SECTION     *
***********************/
#hero-section {
  background-color: black;
  background-image: url('../public/hero-background-img.jpg');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto 100%;
  color: var(--text-color);
  display: flex;
  justify-items: start;
  align-items: center;
}

.hero-section-text {
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  width: 50vw;
  text-align: center;
}

.scroll-container {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  position: absolute;
  bottom: 0;
}

.circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid var(--blue);
  background-color: var(--blue);
}

.line {
  width: 1px;
  height: 60%;
  background-color: var(--blue);
  opacity: 0.4;
}

.scroll-text {
  font-weight: var(--font-weight);
  font-size: var(--font-size);
}