/*GLOBAL RESET*/
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

section{
  height: 100vh;
  scroll-snap-align: start;
   scroll-snap-stop: always;
}

html{
  /* scroll-snap-type: y mandatory; */
}

body{
  background-color: black;
  scroll-behavior: smooth;
  color: white;
  font-family: "Poppins", sans-serif;
}

ul{
  list-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

/***********************
*        NAVBAR        *
***********************/
nav{
  display: flex;
  direction: column;
  position: fixed;
  border: 1px solid red;
}

.section-title{
  width: 100vw;
  font-size: 20px;
  text-align: center;
  font-weight: 100;

}

.nav-icon {
  position: absolute;
  width: 42px;
  height: 32px;
  cursor: pointer;

}

.nav-icon span {
  position: absolute;
  width: 50%;
  height: 1px;
  background: #ffffff;
  transition: all 0.2s ease-in-out;
}

.nav-icon span:nth-child(odd) {
  /* 1, 3, 5 */
  left: 0;
  border-radius: 9px 0 0 9px;
}

.nav-icon span:nth-child(even) {
  /* 2, 4, 6 */
  left: 50%;
  border-radius: 0 9px 9px 0;
}

.nav-icon span:nth-child(1),
.nav-icon span:nth-child(2) {
  top: 0;
}

.nav-icon span:nth-child(3),
.nav-icon span:nth-child(4) {
  top: 13px;
}

.nav-icon span:nth-child(5),
.nav-icon span:nth-child(6) {
  top: 26px;
}

.nav-open .nav-icon span:nth-child(1),
.nav-open .nav-icon span:nth-child(6) {
  transform: rotate(45deg);
}

.nav-open .nav-icon span:nth-child(2),
.nav-open .nav-icon span:nth-child(5) {
  transform: rotate(-45deg);
}

.nav-open .nav-icon span:nth-child(1) {
  top: 8px;
  left: 5px;
}

.nav-open .nav-icon span:nth-child(2) {
  top: 8px;
  left: calc(50% - 5px);
}

.nav-open .nav-icon span:nth-child(3) {
  left: -100%;
  opacity: 0;
}

.nav-open .nav-icon span:nth-child(4) {
  left: 150%;
  opacity: 0;
}

.nav-open .nav-icon span:nth-child(5) {
  top: 19px;
  left: 5px;
}

.nav-open .nav-icon span:nth-child(6) {
  top: 19px;
  left: calc(50% - 5px);
}


/***********************
*     HERO SECTION     *
***********************/
#hero-section {
  background-color: black;
  background-image: url('../public/hero-background-img.jpg');
  background-repeat: no-repeat;
  
  /* The important part */
  background-position: right center;  
  background-size: auto 100%;/* full height, width scales */
  
  color: white;
}
