/***********************
*      GLOBAL RESET     *
* Reset box model,      *
* padding, and margin   *
* for all elements      *
***********************/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/***********************
*       VARIABLES       *
* CSS custom properties *
* for layout, colors,   *
* and animations        *
***********************/
:root {
  --menu-bar-width: 25px;
  --menu-bar-height: 1px;
  --hamburger-gap: 6px;
  --menu-foreground: #ffffff;
  --menu-background: white;
  --hamburger-margin: 8px;
  --menu-animation-timing: 600ms ease-in-out;
  --hamburger-height: calc(var(--menu-bar-height) * 3 + var(--hamburger-gap) * 2);
  --font-size-mobile: 13px;
  --font-weight: 100;
  --blue: rgb(0, 135, 177);
  --text-color: rgb(255, 255, 255);
  --logo-font-size: calc(var(--font-size-mobile) + 6px);
}






/***********************
*      GLOBAL SETTINGS  *
* Section layout &      *
* scroll snapping       *
***********************/
section,
footer {
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  width: 100vw;
  overflow: hidden;
}

.section-title {
  font-weight: var(--font-weight);
  text-align: center;
  color: var(--text-color);
  /* margin-top: calc(var(--logo-font-size) + 50px); */
  font-size: 60px;
  font-weight: 700;
  color: #ffffff20;
  /* border: 1px solid red; */
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

body {
  background-color: black;
  color: var(text-color);

}

ul {
  list-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: white;
}

a:visited {
  color: white;
}

button {
  padding: 10px 30px;
  border-radius: 100px;
  font-size: var(--font-size-mobile);
  font-weight: calc(var(--font-weight) + 100);
  border: none;
  background-color: white;
  color: black;
  text-align: center;
}









/***********************
*   SECTION ANIMATIONS  *
* Fade-in effect for    *
* sections on scroll    *
***********************/
section {
  opacity: 0;
  transition: opacity 0.9s ease-out;
}

section.visible {
  opacity: 1;
}











/***********************
*        NAVBAR        *
***********************/
header {
  position: absolute;
  width: 100vw;
  z-index: 10;
  padding: 15px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000000;
}

.logo {
  font-size: var(--logo-font-size);
  font-weight: var(--font-weight);
  text-align: center;
  color: var(--text-color);
  margin: auto;
}

.logo span {
  background-color: var(--blue);
  color: black;
  border-radius: 10px;
  padding: 0 10px;
  font-weight: 700;
}

@media (min-width: 1000px) {
  .sidebar {
    width: 20vw;
  }
}



/***********************
*     HERO SECTION     *
***********************/
#hero-section {
  background-color: black;
  background-image: url('../public/hero-background-img.jpg');
  background-repeat: no-repeat;
  background-position: center 30%;
  background-size: auto 30%;
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.hero-section-text {
  font-weight: var(--font-weight);
  font-size: var(--font-size-mobile);
  width: 90vw;
  text-align: center;
  margin-bottom: 250px;
}

.scroll-container {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  position: absolute;
  bottom: 0;
}

.circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid var(--blue);
  background-color: var(--blue);
}

.line {
  width: 1px;
  height: 60%;
  background-color: var(--blue);
  opacity: 0.4;
}

.scroll-text {
  font-weight: var(--font-weight);
  font-size: var(--font-size-mobile);
}

@media (min-width: 1000px) {
  #hero-section {
    background-size: auto 60%;
    background-position: 95% center;
    justify-content: flex-start;
    align-items: center;
  }

  .hero-section-text {
    margin-bottom: 0;
    width: 50vw;
  }

}

@media (min-width: 1300px) {
  #hero-section {
    background-size: auto 70%;
    background-position: 90% center;
  }

}



/***********************
*       ABOUT US       *
***********************/
#about-section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;

}

/* .about{
  display: flex;
  justify-content: center;
  gap: 50px;
  height: 80vh;

} */

#about-section .section-title {
  display: none;
}

.stats {
  max-width: 40%;
  height: 80%;
  padding: 0 10px;
  background-color: var(--blue);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;

}

.stats div h2 {
  font-size: 36px;
  color: black;
}

.stats div p {
  font-size: var(--font-size-mobile);
  font-weight: calc(var(--font-weight) + 100);
}

.about-container {
  /* border: 1px solid red; */
  height: 80%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-text {
  color: white;
  font-weight: var(--font-weight);
  font-size: var(--font-size-mobile);
  text-align: center;
}



/***********************
*         TEAM         *
***********************/

#team-section {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#team-section p {
  /* border: 1px solid red; */
  color: white;
  text-align: center;
  font-weight: var(--font-weight);
  width: 80%;
  font-size: var(--font-size-mobile);
}

.team-wrapper {
  width: 80%;
  height: 50%;
  /* border: 2px solid blue; */
}


.team {
  /* border: 1px solid red; */
  width: 100%;
  height: 80%;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;

}

.member {
  scroll-snap-align: start;
  height: 100%;
  /* max-width: 500px; */
  flex: 0 0 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(255, 255, 255, 0.322);
  border-radius: 20px;
  overflow: hidden;
  margin-right: 20px;
  position: relative;
}

.member img {
  display: block;
  /* width: 100%; */
  /* height: 100%; */
  background-color: #ffffff;
  object-fit: contain;
  filter: grayscale();
}



.member div {
  width: 100%;
  padding: 10px 0;
  background-color: #000000;
  border-top: 1px solid rgba(255, 255, 255, 0.322);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  bottom: 0;
  font-size: var(--font-size-mobile);
}

.position {
  font-weight: calc(var(--font-weight) + 200);
}

.name {
  font-weight: var(--font-weight);

  /* border: 1px solid red; */

}

.team-pagination-container {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: row;
  /* border: 1px solid pink; */
}

.team-dot {
  width: 5px;
  height: 5px;
  background-color: #ffffff67;
  border-radius: 50%;
}

.team-dot-active {
  transform: scale(1.8);
  background-color: #ffffff;
  transition: 100ms;
}

.team-dot-active::after {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  border-radius: 50%;
  border: 0.5px solid #ffffff67;
}

@media (min-width: 1000px) {
  #about-section .section-title {
    display: block;
  }




}

@media (min-width: 1350px) {
  .team {
    display: flex;
    justify-content: center;
    align-items: center;


  }
}

/***********************
*       SERVICES       *
***********************/
#services-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid red; */
}

#services-section p {
  color: white;
  text-align: center;
  font-weight: var(--font-weight);
  /* border: 1px solid red; */
  width: 80%;
  font-size: var(--font-size-mobile);
}

.wrapper {
  width: 95vw;
  height: 100%;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  position: relative;
}



.services-container {
  width: 100%;
  height: 90%;
  /* border: 1px solid red; */
  display: flex;
  overflow-x: auto;
  /* enable horizontal scrolling */
  scroll-snap-type: x mandatory;
}

.service-card {
  scroll-snap-align: start;
  height: 100%;
  flex: 0 0 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  border: 1px solid rgba(255, 255, 255, 0.264);
  border-radius: 20px;
  overflow: hidden;
  margin-right: 10px;

}


.div1 {
  grid-column: span 2 / span 2;
  background-color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  background-color: var(--blue);
  font-size: calc(var(--font-size-mobile) + 1px);
}

.div2 {
  grid-row: span 3 / span 3;
  grid-column-start: 2;
  grid-row-start: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.div3 {
  grid-row: span 3 / span 3;
  grid-column-start: 1;
  grid-row-start: 2;
  color: white;
  display: flex;
  align-items: center;
  font-size: var(--font-size-mobile);
  padding-left: 30px;
  border-right: 1px solid rgba(255, 255, 255, 0.264);
}

.div3 ul li {
  font-weight: var(--font-weight);
}

.div3 ul {
  list-style: disc;
}


.div2 img {
  width: 100%;
  max-width: 160px;
}

.container {
  height: 50vh;
}

.pagination-container {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: row;
  /* border: 1px solid red; */
}

.dot {
  width: 5px;
  height: 5px;
  background-color: #ffffff67;
  border-radius: 50%;
}

.dot-active {
  transform: scale(1.8);
  background-color: #ffffff;
  transition: 100ms;
}

.dot-active::after {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  border-radius: 50%;
  border: 0.5px solid #ffffff67;
}

@media (min-width: 1000px) {
  .service-card {
    flex: 0 0 40%;
  }



  .wrapper {
    width: 100vw;
    height: 100%;
  flex-direction: row;

  }

  .pagination-container {
    display: none;
  }

  .arrow-container {
    /* border: 1px solid red; */
    width: 8%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .arrow {
    width: 100px;
    height: 100px;
    border-radius: 500px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .arrow div {
    width: 30%;
    height: 30%;
    border: 5px solid rgba(255, 255, 255, 0.418);
    border-top: transparent;
    border-left: transparent;

  }

  .left {
    transform: rotate(135deg);

  }

  .right {
    transform: rotate(-45deg);
  }

  .services-container {
    height: 95%;
  }
}

/***********************
*       CONTACT        *
***********************/



#contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#contact-section .section-title {
  display: none;
}



.contact {
  width: 60vw;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 12px;
}

.contact-card {
  border-radius: 20px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.329);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  text-align: center;
  font-size: var(--font-size-mobile);
}

.contact-card div p {
  font-weight: var(--font-weight);
}

.contact-card div h4 {
  font-size: calc(var(--font-size-mobile) + 5px);
  font-weight: 200;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  align-items: center;
  width: 100%;
  height: 20vh;
  /* border: 1px solid red; */
}



/* Size the icon */
.lucide {
  width: 32px;
  /* or any size you want */
  height: 32px;
  stroke: var(--blue);
  /* blue */
  stroke-width: 0.5;

}

@media (min-width: 1000px) {

  .contact {
    width: 60vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 12px;
  }

  #contact-section .section-title {
    display: block;
  }
}





/***********************
*        FOOTER        *
***********************/

footer {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  color: white;

}

.about-form-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 0 30px;
}

.about {
  display: none;
}



.form {
  width: 80%;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.form input {
  width: 100%;
  padding: 10px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.38);
  font-size: var(--font-size-mobile);
  color: white;
  font-weight: var(--font-weight);
}
























.socials {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.social-icons {
  padding: 10px;
  background-color: #ffffff00;
  border: 1px solid rgba(255, 255, 255, 0.39);
  border-radius: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icons svg {
  stroke: var(--blue);
  stroke-width: 1;
  width: 20px;
  height: 20px;
}










.copyright {
  width: 100%;
  color: white;
  text-align: center;
  font-size: var(--font-size-mobile);
  font-weight: var(--font-weight);
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;

}

.copyright span {
  font-weight: 200
}













.social-links-container,
.quick-links-container,
.form-container {
  width: 100%;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-heading {
  font-size: calc(var(--font-size-mobile) + 5px);
  font-weight: 200;
  padding-left: 10px;
}

@media (min-width: 1000px) {

  .about-form-container {
    display: flex;
    justify-content: space-between;
  }

  .form {
    width: 40%;
  }

  .about {
    display: block;
    width: 40%;
  }

  .about p {
    font-weight: var(--font-weight);
  }

  .about h3 {
    font-size: calc(var(--font-size-mobile) + 10px);
  }

}